  * {
      padding: 0;
      border: 0;
      margin: 0;
  }

  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  html {
      scroll-behavior: smooth;
      height: 100%;
      width: 100%;
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
      height: 100%;
      width: 100%;
      font-family: sans-serif;
      color: white;
      background-color: #2d1f54;
  }

  main {
      height: 100vh;
  }

  .content-container {
      margin-top: 100px;
  }

  /*-- colours  (using !important to overwrite bootstrap settings) --*/
  .background-color {
      background-color: #2d1f54 !important;
  }

  .dark-blue {
      background-color: #113E5B !important;
  }

  .text-dark-blue {
      color: #113E5B !important;
  }

  .background-light-blue {
      background-color: #CBECF8 !important;
  }

  .text-light-blue {
      color: #CBECF8 !important;
  }

  .text-purple {
      color: #2d1f54 !important;
  }

  .background-blue {
      background-color: #4595BD !important;
  }

  .text-blue {
      color: #4595BD !important;
  }

  .background-yellow {
      background-color: #FCF170 !important;
  }

  .text-yellow {
      color: #FCF170 !important;
  }

/* GAME PLAY*/

.home-btn {
    font-size: 1.5em;
}

#audio-btn {
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.8em;
    font-size: 1.5em;
    color: #113e5b;
    background-color: #FCF170;
}

#audio-btn:focus {
    outline: none;
}

.hero-girl {
    min-width: 15vw;
    margin-top: 5vh;
    border: solid 3px #4595bd;
    border-radius: 5px;
}

.ans-choice {
    margin-top: 1.2em;
    min-width: 60ch;
    background-color: #FCF170;
    color: #113e5b;
    font-weight: 600;
    border: solid 3px #4595bd;
    border-radius: 10px;
}


/* Correct/incorrect classes */


.btn.correct {
    background-color: #008000;
    color: #fff;
}

.btn.incorrect {
    background-color: #ff0000;
    color: #fff;
}